@import '../variables';

.mainText {
  width: 75%;
  height: 225px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  line-height: 28px;

  .done {
    color: $done;
  }

  .active {
    background-color: $correct;
    padding: 2px 5px;
    border-radius: 5px;
    color: $white;
  }

  .error {
    background-color: $error;
    padding: 2px 5px;
    border-radius: 5px;
    color: $white;
  }
}

@media (max-width: 1250px) {
  .mainText {
    font-size: 18px;
  }
}
