@import '../variables';

.textBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  padding: 20px 0 20px 35px;
  user-select: none;
}
